@model IEnumerable<Categoria>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-white" id="navbarDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categorias<b class="caret"></b></a>
    <ul class="dropdown-menu">
        @foreach(var categoria in Model)
        {
            <li>
                <a class="dropdown-item" asp-area="Admin" asp-controller="Articulos" asp-action="Lista" asp-route-categoria="@categoria.Nombre">@categoria.Nombre</a>
            </li>
        }
        <li class="divider"></li>
        <li>
            <a class="dropdown-item" asp-area="Admin" asp-controller="Articulos" asp-action="Lista" asp-route-categoria="">Ver todas los productos</a>
        </li>
    </ul>
</li>